*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef2ff;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
width:360px;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:12px;
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:6px;
}

.passwordBox{
position:relative;
}

.passwordBox span{
position:absolute;
right:12px;
top:12px;
cursor:pointer;
}

button{
width:100%;
padding:12px;
margin-top:20px;
background:#6c63ff;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

.error{
color:red;
font-size:13px;
margin-top:4px;
}

.success{
color:green;
font-size:13px;
margin-top:4px;
}